//Метод
body {
		background-color: #667788;
}
//Метод
ul 	 {
		font-size: 18px;
}
//#author По айди идет
p    {
		color: yellow;
}
//Класс 
.bookTitkle{
	color: blue;
}
h1,h2{
	color: coral;
}
div p{
	color: Cornsilk;
}
li:nth-child(3) {
	color: red;
	font-size: 40px;
}
div {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	padding-top: 10px;
	margin-left: 25px;
	background-color: DarkMagenta;
	width: 200px;
}