//Метод
body {
		background-color: #667788;
}
//Метод
ul 	 {
		font-size: 25px;
}
ul li {
	display: inline-block;
	border-bottom-style: solid;
	border-left-width: 2px;
	border-left-color: black;
	border-left-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: red;
	/* padding-left: black;
	margin-bottom: red; */
}
.menu li:hover
{
	color: blue;
}